html {
  box-sizing: border-box;
  width: 100%;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Provide basic, default focus styles.*/
:focus {
  outline: 2px dashed var(--color--text-secondary);
  outline-offset: 3px;
}
/*
  Remove default focus styles for mouse users ONLY if
  :focus-visible is supported on this platform.
*/
:focus:not(:focus-visible) {
  outline: none;
  outline-offset: 0px;
}
/*
  Optionally: If :focus-visible is supported on this
  platform, provide enhanced focus styles for keyboard
  focus.
*/
:focus-visible {
  outline: 2px dashed var(--color--text-secondary);
  outline-offset: 3px;
}

/* Scrollbar Styles */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--dark-slate) var(--navy);
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: var(--navy);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--dark-slate);
  border: 3px solid var(--navy);
  border-radius: 10px;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  // background-color: var(--navy);
  // color: var(--slate);
  // font-family: url('../fonts/Jost-Bold.ttf');
  font-size: var(--fz-xl);
  line-height: 1.3;

  @media (max-width: 480px) {
    font-size: var(--fz-lg);
  }
  &.hidden {
    overflow: hidden;
  }
  &.blur {
    overflow: hidden;
    header {
      background-color: transparent;
    }
    #content > * {
      filter: blur(5px) brightness(0.7);
      transition: var(--transition);
      pointer-events: none;
      user-select: none;
    }
  }
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
}

main {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  padding: 200px 150px;
  @media (max-width: 1080px) {
    padding: 200px 100px;
  }
  @media (max-width: 768px) {
    padding: 150px 50px;
  }
  @media (max-width: 480px) {
    padding: 125px 25px;
  }
  &.fillHeight {
    padding: 0 150px;
    @media (max-width: 1080px) {
      padding: 0 100px;
    }
    @media (max-width: 768px) {
      padding: 0 50px;
    }
    @media (max-width: 480px) {
      padding: 0 25px;
    }
  }
}

section {
  margin: 0 auto;
  padding: 100px 0;
  max-width: 1000px;
  @media (max-width: 768px) {
    padding: 80px 0;
  }
  @media (max-width: 480px) {
    padding: 60px 0;
  }
}

// Sidebar Global Styling
.feather {
  width: 100%;
  height: 100%;
  fill: none;
  vertical-align: middle;
}

svg {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: var(--transition);
  &:hover,
  &:focus {
    color: var(--color--text-secondary);
  }
  &.inline-link {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: var(--transition);
    color: var(--green);
    &:hover,
    &:focus,
    &:active {
      color: var(--color--text-secondary);
      outline: 0;
      &:after {
        width: 100%;
      }
      & > * {
        color: var(--color--text-secondary) !important;
        transition: var(--transition);
      }
    }
    &:after {
      content: '';
      display: block;
      width: 0;
      height: 1px;
      position: relative;
      bottom: 0.37em;
      background-color: var(--green);
      transition: var(--transition);
      opacity: 0.5;
    }
  }
}

#social-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;

  &:after {
    content: '';
    display: block;
    width: 1px;
    height: 90px;
    margin: 0 auto;
    background-color: var(--light-slate);
  }
  li {
    &:last-of-type {
      margin-bottom: 20px;
    }
    a {
      padding: 10px;
      &:hover,
      &:focus {
        transform: translateY(-3px);
      }
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.side-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &:after {
    content: '';
    display: block;
    width: 1px;
    height: 90px;
    // margin: 0 auto;
    background-color: var(--light-slate);
  }
  a {
    margin: 20px auto;
    padding: 10px;
    font-family: var(--font-mono);
    font-size: var(--fz-xxs);
    line-height: var(--fz-lg);
    letter-spacing: 0.1em;
    writing-mode: vertical-rl;
    &:hover,
    &:focus {
      transform: translateY(-3px);
    }
  }
}

// See Demo Styling

.readmore-button {
  --size: 4rem;
}
.readmore-button {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  position: relative;
  z-index: 1;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
}
.readmore-button > span {
  opacity: 0;
}
.readmore-button:after,
.readmore-button:before {
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  bottom: auto;
  left: 0;
  right: auto;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
  border-radius: 50%;
}
.readmore-button:before {
  border: 1px solid var(--color-white);
  transform: scale(0.99);
}
.readmore-button:after {
  transition: transform var(--circle-button-duration);
  transition-delay: 0s;
  transition-timing-function: ease;
  transform: scale(0);
  background-color: var(--color-white);
}

.readmore-button__outer {
  height: 100%;
  position: absolute;
  bottom: auto;
  left: 0;
  right: auto;
  top: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  mix-blend-mode: difference;
}
.readmore-button__text {
  display: block;
  position: relative;
  width: 88%;
  height: 88%;
  opacity: 0;
  transition: opacity calc(var(--circle-button-duration) / 2);
  transition-delay: 0s;
  transition-timing-function: ease;
  -webkit-animation-name: readmore-button-text-rotation;
  animation-name: readmore-button-text-rotation;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes readmore-button-text-rotation {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(-1turn);
  }
}
@keyframes readmore-button-text-rotation {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(-1turn);
  }
}
.readmore-button__ico,
.readmore-button__text svg {
  height: 100%;
  position: absolute;
  bottom: auto;
  left: 0;
  right: auto;
  top: 0;
  width: 100%;
}
.readmore-button__ico {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.readmore-button__ico img,
.readmore-button__ico svg {
  width: auto;
}
html:not(.v-mobile-device) .readmore-button:hover:after {
  transform: scale(1);
}
html:not(.v-mobile-device) .readmore-button:hover .readmore-button__text {
  opacity: 1;
  transition: opacity var(--circle-button-duration);
  transition-delay: calc(var(--circle-button-duration) / 2);
  transition-timing-function: ease;
}
html:not(.v-mobile-device) .readmore-button.hover:after {
  transform: scale(1);
}
html:not(.v-mobile-device) .readmore-button.hover .readmore-button__text {
  opacity: 1;
  transition: opacity var(--circle-button-duration);
  transition-delay: calc(var(--circle-button-duration) / 2);
  transition-timing-function: ease;
}
.readmore-button.angle-45 {
  transform: rotate(45deg);
}
.readmore-button.angle-180 {
  transform: rotate(180deg);
}

html {
  --color-black: #000;
  --color-dark: #222;
  --color-white: #fff;
  --color-highlight: #c24040;
  --color-disabled: #181818;
  --color-dark-grey: #353535;
  --color-grey: #575757;
  --color-bg: var(--color-black);
  --color-text: var(--color-white);
  --color-link: var(--color-white);
  --circle-button-duration: 0.75s;
}
