@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mont';
  src: url('../fonts/Mont-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mont';
  src: url('../fonts/Mont-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mont';
  src: url('../fonts/Mont-Heavy.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
  animation: slideInLeft 0.6s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
  animation: slideOutRight 0.5s;
}

/* animate.style classes */
/* Sliding left and right */
/* .slide-right-enter-active {
  animation: slideInRight 0.5s;
}
.slide-right-leave-active {
  animation: slideOutRight 0.5s;
}
.slide-left-enter-active {
  animation: slideInLeft 0.5s;
}
.slide-left-leave-active {
  animation: slideOutLeft 0.5s;
} */

/* SVG Animation */
.wave-section {
  position: relative;
  z-index: 0;
}
svg {
  position: absolute;
  bottom: 0;
  z-index: 100;
}
.wave-top {
  position: absolute;
  top: 0;
  transform: scaleY(-1);
}

/* Theming */
:root {
  --primary-1: #e5ffff;
  --primary-text: #9e9e9e;
  --secondary-text: #607d8c;
  --primary-header: #202020;
}

[data-theme='dark'] {
  --primary-1: #323232;
  --primary-text: #e5ffff;
  --secondary-text: #b3bc6d;
  --primary-header: #fff;
}

/* Custom - Link */
* {
  transition: all 0.25s ease-in-out;
}

a {
  display: inline-block;
  margin-right: 15px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none !important;
}

a:hover {
  color: var(--secondary-text);
}

.custom-link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

span {
  width: 20px;
  height: 1px;

  margin: 0;
}

button {
  background: var(--primary-1);
}

p,
b,
i,
img {
  color: var(--primary-header) !important;
}

i {
  width: 0;
  height: 0;
  display: inline-block;
  margin-left: 0;
  margin-right: auto;
  border-style: solid;
  border-width: 4px 0 4px 4px;
  border-color: transparent transparent transparent var(--primary-text);
  opacity: 1;
}

.custom-link:hover a {
  margin-left: 20px;
  text-decoration: none;
}

.custom-link:hover span {
  width: 50px;
  margin-left: 20px;
}

.custom-link:hover i {
  opacity: 0;
}

/* ------------- */
/* Form
/* ------------- */
input[type='text'],
input[type='tel'] {
  width: 100%;
  height: 54px;
  border: 1px solid #eee;
  padding: 0 20px;
}

textarea {
  width: 100%;
  height: 160px;
  border: 1px solid #eee;
  padding: 15px 20px;
}

button[id='submit'] {
  height: 58px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  border: none;
  margin: 0;
  padding: 0;
}

button[id='submit'] * {
  transition: all 0.25s ease-in-out;
}

button[id='submit'] strong {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 58px;
  border: 1px solid #282828;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 30px;

  color: #fff;
}

button[id='submit'] strong:hover {
  text-decoration: none;
}

button[id='submit'] b {
  width: 20px;
  height: 1px;
  background: var(--primary-header);
  display: inline-block;
  margin-left: 20px;
  margin-top: 8px;
}

button[id='submit'] i {
  width: 0;
  height: 0;
  display: inline-block;
  margin-left: 0;
  margin-right: auto;
  border-style: solid;
  border-width: 4px 0 4px 4px;
  border-color: transparent transparent transparent var(--primary-header);
  opacity: 1;
  margin-top: 5px;
}

button[id='submit']:hover b {
  width: 50px;
  margin-left: 20px;
}

button[id='submit']:hover i {
  opacity: 0;
}
